# --- Core App & UI ---
streamlit==1.42.0
pymongo==4.6.1

# --- Ciencia de Datos (Versiones estables) ---
numpy<2.0.0
pandas<3.0.0
scipy
matplotlib

# --- Modelado Bayesiano (Compatibles con Python 3.11) ---
pymc>=5.10.0
arviz
xarray
xarray-einstats

# --- Herramientas de Test ---
pytest==8.0.0
pytest-mock==3.12.0
joblib
scikit-learn
threadpoolctl